* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to left bottom, #051937, #004d7a, #008793);
}

.formWrapper {
  background-image: linear-gradient(
    to left bottom,
    #051937,
    #004d7a,
    #008793,
    #00bf72
  );
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoContainer h3 {
  font-size: 20px;
}

.logoWrapper h3 {
  margin: 5px;
}

.homePageLogo {
  height: 50px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 12px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.editor-container {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 300px;
    padding: 1.5rem;
    background-color: rgb(40, 42, 54);
    color: #ecf0f1;
    border-right: #fff 1px solid;

    .room-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
        margin-bottom: 1rem;
        font-size: 14px;
        color: white;
      }

      .copy-button {
        padding: 0.5rem 1rem;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2980b9;
        }
      }

      .copy-success {
        margin-left: 0.5rem;
        color: rgb(38, 167, 38);
        font-size: 0.8rem;
      }
    }

    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      li {
        padding: 0.5rem;
        font-size: 0.9rem;
        background: gray;
        margin-top: 5px;
        border-radius: 5px;
        min-width: 100px;
        text-align: center;
        color: black;
      }
    }

    .typing-indicator {
      margin-top: 1rem;
      font-size: 1rem;
      color: white;
    }

    .language-selector {
      margin-top: 1rem;
      width: 100%;
      padding: 0.5rem;
      background-color: #34495e;
      color: white;
      border: none;
      border-radius: 4px;
    }

    .leave-button {
      margin: 1.5rem;
      width: 250px;
      padding: 0.75rem;
      background-color: #e74c3c;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      position: absolute;
      bottom: 0%;
      left: 0%;

      &:hover {
        background-color: #ab2a1c;
      }
    }
  }

  .editor-wrapper {
    flex-grow: 1;
    background-color: rgb(40, 42, 54);
  }
}

.run-btn {
  background-color: rgb(12, 209, 38);
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  margin: 5px 10px;
  border-radius: 5%;
  font-weight: 500;
  font-size: 105%;
}

.output-console {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  height: 200px;
  background-color: rgb(40, 42, 54);
  border-top: 1px solid #fff;
  border: none;
  border-top: 1px solid #fff;
  resize: none;
  color: #fffefe;
}

.output-console:focus {
  outline: none;
}
